/.minecraft/logs
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/gallery_1.0.0
/.minecraft/crash-reports
/.minecraft/llibrary
/.minecraft/mods/1.12.2
/.minecraft/mods/memory_repo
/.minecraft/.mixin.out
/.minecraft/bendspacks
/.minecraft/betweenlands_gallery


/.minecraft/usercache.json
/.minecraft/usernamecache.json

/.minecraft/**.log
/.minecraft/WailaErrorOutput.txt
/.minecraft/mods/**.jar
/.minecraft/mods/**.disabled