# Configuration file

general {
    # You can set this to true if you'd like to disable Extra TAN features and only keep Harvest Craft features.
    B:"Disable TAN Features"=false

    ##########################################################################################################
    # thirst items
    #--------------------------------------------------------------------------------------------------------#
    # Add additional items to affect thirst not included with the mod by default.
    # To add an item, pop a new value into the array with the format of ITEMID: THIRST
    # Negative numbers are accepted.
    ##########################################################################################################

    "thirst items" {
    }

}


